@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

.action-underline {
  display: inline-block;
  position: relative;
}

.action-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: black;
  opacity: 80%;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
  border-radius: 5px;
}

.action-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.rotateIcon {
  transition: transform 0.7s ease-in-out;
}

.rotateIcon:hover {
  transform: rotateY(360deg);
}
